# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
*env/

# Environment variables
# .env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log